image: schindld/node-puppeteer:latest

stages:
  - build
  - deploy  
  - test

# This folder is cached between builds and jobs
# http://docs.gitlab.com/ce/ci/yaml/README.html#cache
cache:
  paths:
    - node_modules/

build:
  stage: build
  script:
    - npm install

deploy:
  stage: deploy
  script:
    - apt-get update -qy
    - apt-get install -y ruby-dev
    - gem install dpl
    - cd $CI_PROJECT_DIR
    - dpl --provider=heroku --app=$HEROKU_APP_NAME --api-key=$HEROKU_API_KEY

test_unit:
  stage: test
  script:
    - npm test

test_security:
  stage: test
  script:
    - npm audit

test_a11y:
  stage: test
  script:
    - npm install pa11y
    - node node_modules/.bin/pa11y -w 1500 http://$HEROKU_APP_NAME.herokuapp.com --ignore "warning;notice"
