/* Input elements with an icon */
.input-icon {
    position: relative;
    z-index: 1;
}

.input-icon input {
    font-size: 1.5em !important;
    padding: 1.2em 60px 1.2em 1em !important;    
}

.input-icon .icon {
    position: absolute;
    right: .8em;
    top: .8em;
    font-size: 1.2em;
    color: #ccc;
    background: 0;
    border: 0;
    transition: color .3s;
}

.input-icon input:focus + .icon {
    color: #3691f7;
}

/* Links with a large icon in search results */
.icon-link {
    display: block;
    box-sizing: border-box;
    padding: 1em;
    margin-top: 2em;

    text-decoration: none !important;

    background: #f2f2f2;    
    border-radius: 4px;
    transition: all .1s;
}

.icon-link svg {
    float: left;
    margin-top: .1em;
    margin-right: .3em;
    padding-right: .3em;
    padding-bottom: .1em;

    font-size: 2.4em;

    border-right: 1px solid #ccc;
    transition: all .1s;
}

.icon-link strong {
    text-decoration: underline;
}

.icon-link .meta {
    display: block;
    font-size: .9em;
    color: #777 !important;
}

.icon-link:hover {
    background: #ededed;
}

.icon-link:hover svg {
    color: #3691f7;
    border-color: #bbb;
}

.width-100 {
    width: 100% !important;
}

/* WET style fixes */
body {
    overflow-y: scroll;
}

h1 {
    border: 0;
}

a:visited {
    color: #284162;
}